.category-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;

    @media screen  and (max-width:800px){
    grid-template-columns: 1fr 1fr;
    }

    @media screen  and (max-width:500px){
        grid-template-columns: 1fr;
        }
}
.category-title{
        font-size: 38px;
        margin-bottom: 25px;
        text-align: center;
    }