.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
      cursor: pointer;
    }
  
    .preview {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;

      @media screen and (max-width:800px) {
        grid-template-columns: 1fr 1fr
      }
      @media screen and (max-width:500px) {
        grid-template-columns: 1fr ;
      }
    }
    .category-LowerTitlelink{
      font-size: 1.2rem;
      margin-top: 1.1rem;
      letter-spacing: 1px;
      font-weight: bold;
      padding: 7px;
      background-color: rgb(64, 112, 112);
      color: aliceblue;
      border-radius: 5px;
      max-width: fit-content;
      transition: ease-in .4s;
      
      &:hover{
       letter-spacing: 2px;
      }

      @media screen and (max-width:800px){
        font-size: 1rem;
        margin-top: .6rem;
      }
    }
  }
  

  

 