.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
     
      @media screen and (max-width:700px){
      width: 50px;
      padding: 0;
      }
    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .nav-link {
        margin-top: 22px;
        padding: 10px 15px;
        cursor: pointer;
        .userProfile{
          padding-bottom: 5px;
          font-weight: bold;
          position: absolute;
          top: 10px;
          right: 50px;
          border-bottom: 1px solid blue;
          max-width: fit-content;
        }
      }

      @media screen and (max-width:700px){
        width:67%;
        justify-content: space-between
      }
 
    }

    @media screen and (max-width:700px){
      height: 60px;
    padding: 10px;
    margin-bottom: 20px;
    }
  }
  